.gallery-item{

cursor:pointer;

}

.lightbox{

position:fixed;
left:0;
top:0;
width:100%;
height:100%;

background:rgba(0,0,0,.92);

display:none;

align-items:center;
justify-content:center;

z-index:99999;

}

.lightbox img{

max-width:90%;
max-height:90%;

border-radius:10px;

}

.lightbox.show{

display:flex;

}

.close{

position:absolute;

top:20px;
right:35px;

font-size:42px;

color:white;

cursor:pointer;

}

.arrow{

position:absolute;

top:50%;

transform:translateY(-50%);

font-size:60px;

color:white;

cursor:pointer;

padding:20px;

user-select:none;

}

.prev{

left:20px;

}

.next{

right:20px;

}
